p{
    text-align: center;
}
h1{
    color: #a4c3ca;
}
h1{
    text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#friends{
    color: rgb(151, 97, 139);
}
body{background-color:#1e1e1e;}
button{
    color: black;
}